 body{
  background-image:url("../image/bg6.jpg");
 }
 
 .carrie_body{
            width: 1000px;
            height: 1200px;
            margin: 0px auto;
            background-color:white;
        }
 #carrie_header{
     width: 500px;
     background-color: gold;
     border: 3px solid gold;

 }