body{
    background-image: url("../image/bg8.jpg");
}
.carrie_body{
    width: 800px;
    position: fixed;
    right: 10px;
}
#carrie_header{
    width: 500px;
    background-color: #ffa23b;
    border: 3px solid #ffa23b;
    margin: 100px 15px;
    color: #000;
    font-weight: 700;
}
.form_style{
    width: 250px;
    margin: 50px auto;
    color: #0c0b0b;

}
.error{
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}